
// Fonts

// Variables
@import 'variables';

//@import "~bootswatch/dist/flatly/variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Bootswatch

//@import "~bootswatch/dist/flatly/bootswatch";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
